.about-section {
  background-color: #1c1c1c;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  min-height: 75vh;
  padding-bottom: 5rem;
}

.about-container {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  width: 100%;
  gap: 6rem;
  align-items: flex-start;
}

/* Left Side: Image */
.about-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.about-image {
  border-radius: 30px;
  box-shadow: 0px 4px 12px rgba(255, 255, 255, 0.925);
  object-fit: cover;
  width: 100%; /* Mengatur lebar penuh agar responsif */
  height: auto; /* Mengatur tinggi otomatis untuk mempertahankan rasio */
}

/* Right Side: Content */
.about-content {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.about-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ffffff;
  margin-top: 0.5rem;
}

.about-description {
  font-size: 1rem;
  line-height: 1.6;
  color: #cfcfcf;
  text-align: justify;
}

/* Skills Section */
.about-skills {
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid #333;
}

.skills-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffffff;
}

.skills-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.skills-list li {
  padding: 1rem;
  background-color: #2a2a2a;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.3);
  text-align: left;
  font-size: 1rem;
  color: #e0e0e0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.toggle-button {
  background: none;
  border: none;
  color: #66ccff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1rem;
}

.toggle-button:hover {
  text-decoration: underline;
}

/* Responsif untuk perangkat mobile */
@media (max-width: 768px) {
  .about-container {
    flex-direction: column; /* Ubah ke kolom vertikal */
    align-items: center;
    text-align: center;
  }

  .about-image-container {
    width: 100%; /* Pastikan gambar penuh lebar pada layar kecil */
    margin-bottom: 0rem; /* Tambahkan margin bawah agar lebih rapi */
    margin-top: 1.5rem;
  }

  .about-image {
    width: 80%; /* Kurangi ukuran gambar di perangkat kecil untuk proporsi */
    max-width: 300px;
    height: auto;
  }

  .about-content {
    align-items: center;
  }

  .about-title {
    font-size: 2rem; /* Kurangi ukuran font judul pada layar kecil */
    padding-bottom: 0rem;
  }

  .about-description {
    font-size: 0.95rem; /* Kurangi ukuran font deskripsi */
    text-align: justify; /* Tetap rata kanan-kiri pada mobile */
    padding: 0.5rem;
  }

  .skills-list {
    grid-template-columns: 1fr; /* Atur grid menjadi satu kolom */
    gap: 0.8rem; /* Kurangi gap antar skill pada layar kecil */
  }

  .skills-list li {
    font-size: 0.95rem; /* Kurangi ukuran font pada layar kecil */
    padding: 0.8rem;
  }
}
