/* src/app/aquaflow/aquaflow.module.css */

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #2c2c2c; /* Warna latar belakang konsisten */
  color: #ffffff; /* Warna teks putih */
}

.spinner {
  width: 50px; /* Ukuran lingkaran loading */
  height: 50px; /* Ukuran lingkaran loading */
  border: 5px solid #444; /* Warna lingkaran */
  border-top: 5px solid #1e90ff; /* Warna bagian atas lingkaran */
  border-radius: 50%; /* Membuat lingkaran */
  animation: spin 1s linear infinite; /* Animasi berputar */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loadingText {
  margin-top: 1rem; /* Jarak antara spinner dan teks */
  font-size: 1.2rem; /* Ukuran font teks loading */
  color: #ffffff; /* Warna teks putih */
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* Kelas backButton */
.backButton {
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 0.8rem 1.2rem;
  font-size: 0.9rem;
  font-weight: bold;
  background-color: #0070f3; /* Warna tombol */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.backButton:hover {
  background-color: #005bb5; /* Warna saat hover */
}

.content {
  padding: 2rem;
  text-align: center;
  color: #ffffff; /* Warna teks putih */
  background-color: #2c2c2c; /* Menggunakan warna latar belakang yang sama */
  min-height: 100vh; /* Pastikan konten mengisi seluruh tinggi halaman */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Pusatkan konten secara vertikal */
}
